services:
  db:
    image: postgres:15
    container_name: lr2_db
    environment:
      POSTGRES_DB: lr2
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: lr2_app
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:admin@db:5432/lr2
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    command: ["./entrypoint.sh"]

volumes:
  postgres_data: